---
---

<div class="flex flex-col">
  <h1 class="font-bold text-5xl mb-1 drop-shadow">Reinhardt Rijna</h1>
  <h2 class="text-secondary-content dark:text-secondary-content-dark mb-4">
    Software Engineering student at VIA University College
  </h2>
  <p class="text-accent-content dark:text-accent-content-dark mb-16 max-w-lg">
    Building full stack apps with an awesome UX & DX experience, with the power
    of the best tools in the React & TypeScript ecosystem.
  </p>
</div>
